#logo /*for temsa logo*/
{
	margin-top: 20px;
}

.nav-tabs /*for tabs logo*/
{
    border-bottom: 1px solid #ddd;

}

.nav
{
    padding-left: 400px;
    margin-bottom:0;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.center /*to put table headers to middle*/
{
	text-align: center;
	margin-left:20px;
}


container-fluid
{
   background-color:#FAEBD7;
   height:100px;
}

.navbar-inverse
{
	background-color:lightyellow;
	height : auto;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;	   
}
 
.nav-tabs>li>a
{ 
	background-color:#FFFFF;
}
body
{
	background-color:#1c6c86;
}



div.input-group
{
	margin-top:40px;
}

div.container {
    background-color: #FAEBD7;
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:20px;
border-radius: 25px;
}

.tab-content>.active
{
    display: block;
    margin-left: 50;
}

table
{
    background-color: transparent;
    margin-top: 20px;
	border=2px;
}